WebFoundation/XML/node.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
xmlns="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.itcast.cn/20140213"
elementFormDefault="qualified">
    <element name="note">
        <complexType>
            <sequence>
                <element name="to" type="string"></element>
                <element name="from" type="string"></element>
                <element name="heading" type="string"></element>
                <element name="body" type="string"></element>
            </sequence>
        </complexType>
    </element>
</schema>